<div class="footer">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <h2>Libros Tereré</h2>
            <p>Valencia - España</p>
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Contáctame</h2>
        <div class="red-social">
            <a href="#"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
      <div class="box">
        <h2>Síguenos</h2>
        <div class="red-social">
          <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="red-social">
            <a href="#"><i class="bi bi-instagram"></i></a>  
        </div>
        </div>
      </div>
    <!-- </div> -->
    <div class="grupo-2">
      <small>&copy; 2022 <b>Libros Tereré</b> - Todos los derechos reservados</small>
    </div>
</div>